<%
    if(typeof error_message !=='undefined'){
%>  
<p style="color: rgb(234, 15, 15);"> <%= error_message %> </p>
<%
}
%>

<form action="" method="POST">

    <input type="hidden" name="id" value=<%= user.id %> >
    <input type="hidden" name="email" value=<%= user.email %> >

    <input type="passwrod" name="password" placeholder="New passwrod" required>
    <br>
    <br>
    <input type="Password" name="confirm_password" placeholder="Confirm Password" required>
    <br>
    <br>
    <input type="submit" value="Change Password"> 

</form>